#main_Cont {
  background-color: #dcdcdc;
}
.imglogo {
  margin-left: 20%;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  background-color: #ffffe0;
  text-align: center;
}

#title h1 {
  margin-top: 10%;
  font-size: 50px;
}

#logbtn {
  width: 180px;
  margin-top: 20%;
  margin-left: 20%;
}

.header {
  background-color: rgba(3, 3, 107, 0.87);
}

/********************* Navigation bar *************************************/

#navrow {
  background-color: #e6e6fa;
}

.menu ul {
  margin-left: 100px;
}

.menu ul li {
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  transform: 0.3s;
}

.menu ul li a {
  border: 1px solid rgb(124, 207, 124);
  padding: 5px;
  border-radius: 10px;
}

.menu ul li a:hover {
  background-color: rgb(2, 2, 2);
  color: white;
}

#searchbar {
  width: 250px;
  background-color: #e6e6fa;
  margin-top: 10px;
  height: 50px;
}

/********************** Slider ***************************/
#slider {
  margin: 40px 10px 10px 100px;
  width: 80%;
  height: 550px;
  background-color: #ffffe0;
}

/************************** Popular offers ***************************/
#pop_off {
  /* height: 550px; */
  background-color: #e6e6fa;
}
#po_img {
  margin-top: 0px;
  width: 400px;
  height: 350px;
}

#po_h2 {
  margin-top: 20px;
  margin-left: 10;
  font-size: 45px;
}

/*************************** Popular store **************************/

#pop_st {
  /* height: 550px; */
  margin: 10px;
  background-color: #ffffe0;
}

#pop_st h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

#pt_img {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
}

/******************************** Top Coupon and offer ******************************/
#top_cop {
  /* height: 620px; */
  background-color: #e6e6fa;
}

#top_cop h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#topc_p_col {
  width: 380px;
  height: 220px;
  border: 1px solid black;
  margin: 10px;
  background-color: #b0e0e6;
  overflow: hidden;
}

#topc_p_col h4 {
  padding: 20px 0px 0px 10px;
  width: 150px;
  height: 80px;
  background-color: beige;
}

#topc_p_col p {
  color: rgb(57, 57, 235);
  font-weight: bold;
}

/*************************** Footer *********************/
#footer {
  width: 100%;

  background-color: rgba(3, 3, 107, 0.87);
  border: 2px solid black;
  color: white;
}

#footer_logo {
  margin-top: 25px;
  margin-bottom: 30px;
}
#footer_img {
  text-align: center;
  margin-left: 250px;
}

#str_btn {
  width: 140px;
  height: 100px;
  margin: 10px;
}

#scl_btn {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#footer_hr {
  color: white;
  height: 3px;
  margin-top: 30px;
}

#foot_p1 {
  text-align: center;
  font-size: 45px;
}
#foot_p2 {
  text-align: center;
  font-size: 30px;
}
#foot_p3 {
  text-align: center;
  font-size: 20px;
}
