body {
  background-color: #c0d7ef;
}

#main_Cont {
  background-color: #dcdcdc;
}
.imglogo {
  margin: auto;
  height: auto;
  display: block;
  justify-content: center;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  background-color: #ffffe0;
  text-align: center;
}

#title h1 {
  font-size: 50px;
  margin: 10% auto;
  display: block;
  justify-content: center;
}

#logbtn {
  font-size: 25px;
  width: 200px;
  font-weight: bold;
  padding: auto;
  margin: 20% auto;
  display: block;
  justify-content: center;
  background-color: white;
}

.header {
  background-color: #86608e;
}

/********************* Navigation bar *************************************/
#nav {
  background-color: #86608e;
}
.menu ul {
  margin-left: 100px;
}

.menu ul li {
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  transform: 0.3s;
}

.menu ul li a {
  border: 1px solid rgb(124, 207, 124);
  padding: 5px;
  border-radius: 10px;
}

.menu ul li a:hover {
  background-color: rgb(2, 2, 2);
  color: white;
}

#searchbar {
  font-weight: bolder;
  background-color: #e6e6fa;
}

/********************** Slider ***************************/
#slider {
  padding: auto;
  margin: auto;
  display: block;
  justify-content: center;
}

#slider img {
  border: 2px solid rgb(44, 192, 25);
}
/************************** Popular offers ***************************/
#pop_off {
  /* height: 550px; */
  background-color: #e6e6fa;
}
#po_img {
  width: 300px;
  height: 250px;
  padding: auto;
  margin: auto;
  display: block;
  justify-content: center;
}

#po_h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 45px;
  background-color: #86608e;
}

/*************************** Popular store **************************/

#pop_st {
  /* height: 550px; */
  margin: 10px;
  background-color: #ffffe0;
}

#pop_st h1 {
  margin-top: 20px;
  padding: 20px;
  margin-left: 10;
  font-size: 45px;
  background-color: #86608e;
}

#pt_img {
  width: 300px;
  height: 200px;
  border: 1px solid black;

  padding: auto;
  margin: 20px;
  display: block;
  justify-content: center;
}

/******************************** Top Coupon and offer ******************************/
#top_cop {
  /* height: 620px; */
  background-color: #e6e6fa;
}

#top_cop h1 {
  margin-top: 20px;
  padding: 20px;
  margin-left: 10;
  font-size: 45px;
  background-color: #86608e;
}

#topc_p_col {
  width: 300px;
  height: 220px;
  border: 1px solid black;
  background-color: #b0e0e6;
  overflow: hidden;

  padding: auto;
  margin: 20px;
  display: block;
  justify-content: center;
}

#topc_p_col h4 {
  padding: 20px 0px 0px 10px;
  width: 150px;
  height: 80px;
  background-color: beige;
}

#topc_p_col p {
  color: rgb(57, 57, 235);
  font-weight: bold;
}

/*************************** Footer *********************/
#footer {
  width: 100%;

  background-color: rgba(3, 3, 107, 0.87);
  border: 2px solid black;
  color: white;
}

#footer_logo {
  margin-top: 25px;
  margin-bottom: 30px;
}
#footer_img {
  margin: auto;
  display: block;
  justify-content: center;
  display: flex;
}

#str_btn {
  width: 100px;
  height: 80px;
  margin: 10px;
}

#scl_btn {
  width: 80px;
  height: 80px;
  margin: 10px;
}

#footer_hr {
  color: white;
  height: 3px;
  margin-top: 30px;
}

#foot_p1 {
  text-align: center;
  font-size: 45px;
}
#foot_p2 {
  text-align: center;
  font-size: 30px;
}
#foot_p3 {
  text-align: center;
  font-size: 20px;
}
